<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="League_All_in_One.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <League_All_in_One.Properties.Settings>
      <setting name="IsFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EncryptedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedIV" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptedKey" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="NotEncryptedPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LeagueExeDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ChamptionName" serializeAs="String">
        <value />
      </setting>
      <setting name="MatchType" serializeAs="String">
        <value />
      </setting>
      <setting name="SummonerType" serializeAs="String">
        <value />
      </setting>
      <setting name="SummonerName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsPasswordEncrypted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrimaryColor" serializeAs="String">
        <value>Amber500</value>
      </setting>
      <setting name="PrimaryDarkColor" serializeAs="String">
        <value>Amber700</value>
      </setting>
      <setting name="PrimaryLightColor" serializeAs="String">
        <value>Amber200</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>LightBlue200</value>
      </setting>
      <setting name="ImageRecognitionInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoginUsernameCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginPasswordCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="LoginButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="PlayButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="SummonersRiftCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="BlindPickCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="DraftPickCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="RankedSoloDuoCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="ARAMCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfirmButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="FindMatchButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="ChampionSearchTextboxCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstChampionSelectionCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="LockButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="UseImageRecognition" serializeAs="String">
        <value />
      </setting>
      <setting name="UseCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoAcceptButtonCoordinates" serializeAs="String">
        <value />
      </setting>
      <setting name="ContiuouslyMonitorAcceptMatch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TextShadeColour" serializeAs="String">
        <value>BLACK</value>
      </setting>
    </League_All_in_One.Properties.Settings>
  </userSettings>
</configuration>